body{
    background-color: rgb(156, 201, 223);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRncS-ruy24BQMCFAOPqu-6KgT4K6ig8_QuJg&s");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:100%;
    
    text-align: center;
}

.h1{
    width: 80%;
    max-width:500px;
    height: auto;
    padding:  5%;
    margin: 50px auto 50px;
    border:2px solid rgb(6, 6, 49);
    border-radius: 10px;
background-color: rgb(215, 219, 202);
box-sizing: border-box;
color: aliceblue;
transition: width 0.4s ease-in-out;
position:center;

}
input{
    border-radius: 40px;
  box-sizing: border-box;
    background-color: rgb(174, 195, 188);
    border:#ccc;
    height: 30px;
    text-align: center;
    font-size: 16px;
    width:50%;
}
button{
    border-radius: 40px;
    border:#ccc;
    height: 30px;
    width: 20%;
    font-size: 16px;
    cursor:pointer;
    background-color: #e67171;
    box-sizing:border-box;
}
ul li{
    padding: 2px;
    color: rgb(14, 15, 15);
   list-style:none;
   font-size: 20px;
   user-select:none;
    cursor:pointer;
   margin: 2px;
}
ul li::before{
content:'';
border-radius: 80%;
background-size: cover;
position: absolute;
height:5%;
width:3%;
border-radius: 50%;
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrOvM1J-Sotgg4TlOzExKZAHZHSZZhRZELVA&s" );
background-size: cover;
background-position: center;
left:20%;


}
 ul li.checked{

        text-decoration:line-through;
 }
 ul li.checked::before{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa4SW-yAcvrFm6-Ji0rHFOCZBkjQT0SQmx0A&s");
    background-size: cover;
    background-position: center;

 }
 ul li span{
    position: absolute;
  
    width: 30%;
    height: 40%;
    font-size: 28px;
    line-height:23px ;
    text-align: center;
    border-radius: 50%;
    color:#461919;
    right: 20%;
    }
ul li span:hover{
    background-attachment: #edeef0;
}